.display {
    display: flex;
    flex-direction: column;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar input {
    width: 85%;
    padding: 12px;
    margin: 12px 0px;
    font-size: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.content-type-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px 12px 12px;
}
.content-type-switch button {
    width: 45%;
    padding: 6px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.media-item {
    display: block;
    width: 300px;
    height: 180px;
    position: relative;
    margin-bottom: 12px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.media-item__image {
    position: relative;
    top: 0;
    width: 100%;
    height: 170px;
    opacity: 0.8;
}
.media-item__title-container {
    padding: 12px;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 3rem;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}
.media-item__title-container h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}