@media (min-width: 768px) {
    .details {
        max-width: 560px;
        height: 100%;
    }
    .details__media {
        width: 100%;
    }
    .display {
        max-width: 960px; 
    }
    .search-bar input {
        font-size: 24px;
        padding: 16px 0px 16px 28px;

    }
    .content-type-switch {
        width: 100%;
        justify-content: center;
        
    }
    .content-type-switch button {
        width: 160px;
        font-size: 24px;
        padding: 12px;
    }
    .media-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 16px; 
        width: 100%;
        padding: 24px;
    }
    .media-item {
        width: auto;
        height: auto;
        min-height: 180px;
        max-height: 280px;
    }
    .media-item__image {
        height: 100%;
    }
}